.home-container {
  width: 90%;
  padding-top: 00px;
}

.home-main-img {
  width: 900px;
  height: 450px;
  position: fixed;
  z-index: -99;
  top: 150px;
  bottom: 0;
  left: 250px;
  right: 0;
}

.home-seconday-img {
  width: 200px;
  position: fixed;
  top: 304px;
  bottom: 0;
  left: 300px;
  z-index: 100;
}

.shadow {
  background: rgb(186, 186, 186);
  background: linear-gradient(
    180deg,
    rgba(186, 186, 186, 0) 0%,
    rgba(0, 0, 16, 1) 70%
  );
  position: fixed;
  width: 900px;
  height: 400px;
  top: 200px;
  left: 250px;
  z-index: 99;
}

.home-title-main {
  color: white;
  position: fixed;
  top: 480px;
  left: 550px;
  z-index: 100;
  font-size: 50px;
}

.home-title-main:hover {
  transform: scale(1.2);
  color: blue;
  text-decoration: underline;
}

.home-title-description {
  color: white;
  position: fixed;
  top: 550px;
  left: 550px;
  z-index: 100;
  font-size: 25px;
}

.home-title-secondary {
  color: blue;
  position: fixed;
  top: 550px;
  left: 950px;
  z-index: 100;
  font-size: 25px;
  text-decoration: underline;
  cursor: pointer;
}
.home-title-secondary:hover {
  transform: scale(1.05);
}
.next-arrow {
  position: relative;
  top: 20px;
}

.arrow-container-right {
  text-align: center;
  vertical-align: middle;
  background: rgba(58, 58, 58, 0.8);
  color: white;
  position: fixed;
  top: 350px;
  left: 1120px;
  z-index: 110;
  font-size: 25px;
  width: 40px;
  height: 70px;
  border-radius: 10px;
  border: 0.5px solid white;
}
.arrow-container-left {
  text-align: center;
  vertical-align: middle;
  background: rgba(58, 58, 58, 0.8);
  color: white;
  position: fixed;
  top: 350px;
  left: 220px;
  z-index: 110;
  font-size: 25px;
  width: 40px;
  height: 70px;
  border-radius: 10px;
  border: 0.5px solid white;
}

.next-arrow:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.news {
  padding-top: 600px;
}

.main-title-news {
  padding-left: 250px;
  font-size: 35px;
  color: white;
}

.container-news-title {
  display: flex;
  padding-bottom: 20px;
  padding-left: 150px;
}

.news-container {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 10px;
  margin-left: 100px;
  max-width: 300px;

  display: flex;
  flex-direction: column;
}

.img-news {
  width: 100%;
}

.title-news {
  text-align: center;
  padding-bottom: 5px;
  font-size: 20px;
  color: white;
  width: 300px;
}
